<% content_for :onready do %>
  $("#user_first_name").focus();
<% end %>

<div class="row">
  <div class="small-12 large-8 columns">
    <h2>Sign Up</h2>
    <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
      <%= f.input :first_name, :required => true %>
      <%= f.input :last_name, :required => true %>
      <%= f.input :email, :required => true %>
      <%= f.input :password, :required => true %>
      <%= f.input :password_confirmation, :label => "Re-type it to confirm", :required => true %>

      <div class="actions">
        <p>By clicking 'Sign Up', I agree to Chico++'s <%= link_to 'Terms of Service', terms_path, :class => 'popup' %>.</p>
        <%= f.button :submit, :value => 'Sign Up' %>
      </div>
    <% end %>
  </div>
  <div class="small-12 large-3 columns large-offset-1">
    <h5 class="subheader">Already have an account?</h5>
    <ul class="plain">
      <li><%= link_to "Don't bother with this, sign in!", new_user_session_path %></li>
    </ul>
  </div>
</div>
